* {
  box-sizing: border-box;
}

.blogtitle {

  font-family: Georgia, "Times New Roman", serif;
}


.blogtitleitalic {
  
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  }

.blogfont {
    font-family: "Roboto", sans-serif;
}

img {
  border-radius: 12px;
  left-margin: 0px;
  right-margin: 0px;
}


body {
  color:white;
  font-family: "Noto Sans", sans-serif;
  background-color: #390E47;
}

p {
  font-size: 16px;
}

.alarm {
  font-size: 16px;
  color: red;
  font-style: italic;
}

.t {
  color: #6276F9;

}


.red {
  color: red;
}

a {
  color: red;
}

.bold {
  font-style: bold;

}

.italic {
  font-style: italic;
}

.tor {

  color: #C011F7;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

.row {
  display: -webkit-flex;
  display: flex;
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
}


.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
